@font-face {
  font-family: 'Circe-Regular';
  src: url(../font/Circe-Regular.woff) format('woff'),
  url(../font/Circe-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circe-Bold';
  src: url(../font/Circe-Bold.woff) format('woff'),
  url(../font/Circe-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}