@import 'fonts';

#menu {
	background: #1D1C1C;
	width: 100vw;
	height: 100%;
	padding: 50px 0;
	color: #DB9351;
	display: flex;
	visibility: visible;
	opacity: 1;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	border-radius: 3px;
	transition: all 300ms ease-in-out;
	position: fixed;
	top: -100vh;
	left: 0px;
	z-index: 9;

	&.active {
		top: 0;
		display: flex;
		justify-content: center;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			margin: 10px 0;
			font-family: 'Circe-Regular';
			font-size: 16px;
			line-height: 20px;
			color: #DB9351;
		}
	}
}

#toggle {
	position: relative;
	width: 40px;
	height: 36px;
	left: 20px;
	top: 20px;
	transition: all 300ms ease-in-out;
	z-index: 10;

	input {
		position: absolute;
		top: -3px;
		left: -3px;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		cursor: pointer;

		&:checked {
			+span {
				background: transparent;
				left: 0;

				&:after {
					transform: rotate(45deg) translate(-1px, -12px);
					left: -7px;
					background: #fff;
				}

				&:before {
					transform: rotate(-45deg) translate(-4px, 16px);
					left: -7px;
					background: #fff;
				}
			}
		}
	}

	span {
		position: absolute;
		width: 100%;
		height: 2px;
		background: #DB9351;
		margin-top: 10px;
		transition: all 0.1s;
		left: 0;

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background: #DB9351;
			top: -12px;
			left: 0;
			transition: all 0.3s;
		}

		&:after {
			top: 12px;
		}
	}
}