@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.sidebar__inner {
  float: left;
  margin-top: 21px;
}

.messages__inner {
  float: right;
  width: 813px;
  margin-top: 35px;
}

.profile {

  &__box span {
    position: relative;
    left: 20px;
    top: 35px;
  }

  &__img {
    border: 1px solid #DB9351;
    width: 220px;
  }

}

.menu {

  width: 220px;

  &__list {
    background-color: #1D1C1C;
  }

  &__list-item {
    padding-left: 30px;
  }


  &__list-item:nth-child(even) {
    padding-top: 50px;
    padding-bottom: 22px;
    border-top: 1px solid #242424;
  }

  &__list-item:nth-child(odd) {
    padding-bottom: 50px;
  }


  &__list-item:nth-child(5n + 1) {
    padding: 50px 0 50px 30px;
  }

  &__list-item:nth-child(6) {
    background-color: #DB9351;
  }

  &__list-link {
    @extend %text-bold;
  }


  &__list-link span {
    margin-left: 60px;
  }

  &__list-link--active {
    font-family: 'Circe-Bold';
    color: #DB9351;
  }

  &__list-link--bold {
    @extend %text-bold;
  }
}

.messages {

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__inner {
    font-family: 'Circe-Regular';
    font-size: 14px;
    line-height: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__control-remove a {
    color: #FF5B5C;
    margin-right: 18px;
  }

  &__control-archive a {
    color: #fff;
  }

  &__sections-unread a {
    color: #DB9351;
    margin-right: 18px;
  }

  &__sections-archive a {

    color: #959595;
  }

  &__search {
    width: 170px;
    height: 30px;
  }

  &__search form {
    border: 1px solid #DB9351;

  }

  &__search input {
    border: none;
    outline: none;
    background: transparent;
    text-align: right;
    padding: 5px 10px;
    color: #DB9351;
    width: 100%;
  }

  &__search button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &__search::placeholder {
    color: #DB9351;
    text-align: right;
  }

  &__search input::-webkit-input-placeholder {
    color: #DB9351;
  }

  //checkbox
  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

  }

  &__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 19px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  &__checkbox:checked+label::before {
    border-color: #fff;
    background-color: transparent;
    background-image: url(../images/checkbox.svg);
  }

  /* стили при наведении курсора на checkbox */
  &__checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #DB9351;
  }

  /* стили для активного чекбокса (при нажатии на него) */
  &__checkbox:not(:disabled):active+label::before {
    background-color: #DB9351;
    border-color: #DB9351;
  }

  /* стили для чекбокса, находящегося в фокусе */
  &__checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  &__checkbox:focus:not(:checked)+label::before {
    border-color: #DB9351;
  }

  /* стили для чекбокса, находящегося в состоянии disabled */
  &__checkbox:disabled+label::before {
    background-color: #e9ecef;
  }

  //раздел входящих сообщений
  &__list-item {
    display: flex;
    align-items: center;
    font-family: 'Circe-Regular';
    font-size: 16px;
    line-height: 22px;
    color: #959595;
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    transition: color .4s;
  }

  &__list-item:hover {
    border-color: #DB9351;
  }

  &__list-name {
    display: flex;
    margin-right: 16px;
    width: 160px;
  }

  &__list-name {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }


  &__list-text {
    width: 370px;
  }

  &__list-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }


  &__list-name p {
    @extend %text-bold;
    text-decoration: underline;
    padding-right: 10px;
  }

  &__list-date {
    display: flex;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin-left: 30px;
  }

  &__list-time {
    margin-left: 20px;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;

  &__btn {
    font-family: 'Circe-Regular';
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }

  &__btn:not(:last-child) {
    margin-right: 25px;
  }

  &__btn--active {
    border: 1px solid #db9351;
    border-radius: 60px;
    color: #db9351;
    padding: 3px 9px;
  }
}


#menu {
  display: none;
}

#toggle {
  display: none;
}


@import'media';